* {
	@apply box-border;
}

html, body {
	@apply w-full h-full m-0 overflow-hidden;
}

body {
	--color-canvas: #121212;
	--color-canvas--darker: #101010;
	--color-panel: #1e1e1e;
	--color-panel--hover: #3d3d3d;
	--color-border: transparent;
	--color-separator: #3d3d3d;
	--color-text: #b8b8b8;
	--color-backdrop: #000000;
}

#root {
	@apply h-full p-4;
	background-color: var(--color-canvas);
}