.menu {
	@apply pointer-events-auto inline-block relative cursor-default border border-transparent outline-none bg-gray-700 text-gray-200 text-xs select-none focus:border-blue-500;
	box-shadow: #000 0px 2px 4px;
}

.menu__wrapper {
	@apply flex flex-1 p-0 m-0 overflow-visible;
}

.menu__list {
	@apply flex flex-1 flex-col py-2 px-0 m-0 justify-end flex-nowrap;
}

.menu-item {
	@apply pointer-events-auto relative w-80 flex flex-1 pt-0.5 pb-1 px-1 mx-px cursor-pointer outline-none;
}

.menu-item--selected {
	@apply bg-gray-800 text-blue-300;
}

.menu-item__wrapper {
	@apply pointer-events-none flex flex-1 flex-nowrap whitespace-nowrap;
}

.menu-item__icon {
	@apply w-4 flex items-center;
	font-size: 0.625rem;
}

.menu-item__label {
	@apply px-1 flex-1;
}

.menu-item__label--accesskey {
	@apply underline uppercase;
}

.menu-item__keybind {
	@apply px-1 text-gray-500;
}

.menu-item__anchor {
	@apply z-50;
}

.menu-item__nested {
	@apply transform;
}

.menu-item__nested--top {
	@apply translate-y-[calc(-0.5rem-1px)];
}

.menu-item__nested--bottom {
	@apply translate-y-[calc(0.5rem+1px)];
}

.menu-separator {
	@apply flex p-0 pt-1 mt-0 mr-2 mb-1 ml-2 border-b border-gray-600;
}
