.menubar {
	@apply pointer-events-auto cursor-default flex p-0 m-0 border border-transparent outline-none overflow-visible bg-slate-800 text-gray-200 text-xs select-none focus:border-blue-500;
}

.menubar__list {
	@apply flex flex-row p-0 m-0 justify-end flex-nowrap;
}

.menubar-item {
	@apply pointer-events-auto relative outline-none focus:bg-slate-700 focus-within:bg-slate-700;
}

.menubar-item--selected {
	@apply bg-slate-700;
}

.menubar-item__label {
	@apply pointer-events-none flex flex-nowrap px-3 py-1 whitespace-nowrap;
}

.menubar-item__label--accesskey {
	@apply underline uppercase;
}

.menubar-item__anchor {
	@apply z-50;
}
